/* RESET AND CO */

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
/* COLORS */
--celeste: #C1F3DF;
--orange: #F8B555;

/* FONTS COLORS */
--black: #222;
--white: #f1f1f1;

/* FONTS */
--serif: 'Playfair Display', serif;
--sans-serif: 'Roboto', sans-serif;
}

html, body {
    color: var(--black);
    background-color: var(--celeste);
    width: 100%;
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.brand-logo {
    width: 80px;
    height: 80px;
    transform: rotate(-5deg);
}

h1 {
    font-family: var(--serif);
    font-size: 2.5em;
    font-weight: 400;
    transform: translateX(-10px);
}

.header-brand {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.header-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
}

.header-nav a {
    display: block;
    position: relative;
    list-style-type: none;
    text-decoration: none;
    color: var(--black);
    font-family: var(--sans-serif);
    font-size: 1.25em;
    font-weight: 400;
    border: 3px solid transparent;
    padding-bottom: 2px;
    transition: border-bottom 0.2s ease-in-out;
}

.header-nav a:hover {
    border-bottom: 3px solid var(--black);
}

.sign-in-btn {
    display: block;
    font-family: var(--sans-serif);
    font-size: 1.25em;
    font-weight: 400;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.sign-in-btn:hover {
    transform: translateY(-3px);
}

@media screen and (max-width: 1220px) {
    header {
        margin-top: 5px;
        margin-bottom: 10px;
        flex-direction: column;
        justify-content: center;
    }
    .header-brand {
        margin: 0 auto;
    }
    .header-nav {
        margin: 0 auto;
        justify-content: center;
    }
    .header-nav a {
        margin-right: 25px;
    }
}

@media screen and (max-width: 950px) {
    .header-nav {
        flex-direction: column;
    }
    .header-nav a {
        margin: 0 0 10px 0;
    }
}

@media screen and (max-width: 450px) {
    .brand-logo {
        width: 50px;
        height: 50px;
    }
    h1 {
        font-size: 2em;
    }
    .header-nav a {
        font-size: 1em;
    }
    .sign-in-btn {
        font-size: 1em;
    }
}


/* MAIN CONTENT */

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 50px 5em 0 5em;
}

.main-img {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(34,34,34,0.25);
}

.main-txt h2 {
    color: var(--black);
    font-family: var(--serif);
    font-size: 3.75em;
    font-weight: 400;
    margin-bottom: 50px;
    animation: 2.5s ease-out movement;
}

@keyframes movement {
    from {
        transform: translateX(-800px);
    }
    to {
        transform: translateX(0);
    }
}

.main-txt p {
    color: var(--black);
    font-family: var(--sans-serif);
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 500px;
    animation: 4s ease-out movementP;
}

@keyframes movementP {
    from {
        color: transparent;
    }
    to {
        color: var(--black);
    }
}

.main-txt button {
    display: block;
    font-family: var(--sans-serif);
    font-size: 1.25em;
    font-weight: 400;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.main-txt button:hover {
    transform: translateY(-3px);
}

@media screen and (max-width: 1220px) {
    .main-img {
        width: 350px;
        height: 350px;
    }
    .main-txt h2 {
        font-size: 3em;
        max-width: 615px;
    }
    .main-txt p {
        font-size: 1em;
    }
}

@media screen and (max-width: 950px) {
    .main-content {
        justify-content: center;
    }
    .main-txt {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .main-img {
        width: 250px;
        height: 250px;
    }
}


/* CONTACTS */

.contact img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease-in-out;
}

.contact img:hover {
    transform: scale(1.5);
}

.contact {
    position: absolute;
    left: 80px;
    bottom: 75px;
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: space-around;
}

.contact p {
    color: var(--black);
    font-family: var(--sans-serif);
    font-size: 1.25em;
    font-weight: 400;
}

@media screen and (max-width: 1220px) {
    .contact {
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 450px) {
    .contact p {
        font-size: 1em;
    }
    .contact img {
        width: 25px;
        height: 25px;
    }
}